
<% if (!modules.length && locals.warning !== false) { %>
	<div class="warn block">
		<h2>No modules were found</h2>
		<span>Try searching for something less specific, e.g. <a href="/search?q=web+framework">web framework</a> or <a href="/search?q=database">database</a></span>
	</div>
<% } %>
<% if (modules.length && locals.warning !== false) { %>
	<div class="personalize block">
		<% if (username) { %>
			<span>Results are personalized to <a href="http://github.com/<%= username %>"><%= username %></a> using <span class="bold">stars</span> and <span class="bold">follows</span> on Github.</span>
		<% } else { %>
			<span>For better results using your <span class="bold">project stars</span> and <span class="bold">follows</span> on Github, <a href="/?personalize&q=<%= query %>">personalize your account</a>.
		<% } %>
	</div>
<% } %>
<% modules.forEach(function(mod) { %>
	<div class="module" data-marker="<%= mod.marker %>" data-score="<%= mod.score %>">
		<% if (mod.stars) { %>
			<span class="stars"><%= mod.stars %></span>
		<% } %>
		<h2><a href="<%= mod.url %>"><%= mod.name %></a></h2>
		<div class="subline">
			by <a href="<%= mod.profile %>" class="<%= mod.related ? 'following' : '' %>"><%= mod.author %></a>
			and used by
			<% if (mod.relation.length) { %>
				<% mod.relation.forEach(function(relation) { %>
					<a href="https://github.com/<%= relation %>" class="following"><%= relation %></a>
				<% }) %>
				and
			<% } %>
			<%= mod.dependents + (mod.dependents === 1 ? ' module' : ' modules') %>
		</div>
		<p class="description">
			<%= mod.description %>
		</p>
	</div>
<% }) %>
