<html>
	<head>
		<title>About</title>
		<link rel="shortcut icon" href="<%- fingerprint('/public/favicon.ico') %>">
		<link rel="stylesheet" type="text/css" href="<%- fingerprint('/public/base.css') %>">
		<%{ 'partials/google-analytics.html' }%>
	</head>
	<body>
		<div class="main">
			<%{ 'partials/top.html' }%>
			<div id="about">
				<p>Created by <a href="http://github.com/mafintosh" target="blank">Mathias Buus Madsen</a>, and <a href="http://github.com/freeall" target="blank">Tobias Baunbæk</a>.</p>
				<p>If you don't like it, you can <a href="http://github.com/mafintosh/node-modules">fork us</a>.</p>
				<%{ 'partials/menu.html' }%>
			</div>
		</div>
	</body>
</html>