<%{ './partials/base.html' }%>
<%{ title %>About<%}%>
<%{ content %>
	<div class="main">
		<%{ 'partials/top.html' }%>
		<div id="about">
			<p>Created by <a href="http://github.com/mafintosh" target="blank">Mathias Buus Madsen</a>, and <a href="http://github.com/freeall" target="blank">Tobias Baunbæk</a>.</p>
			<p>You can contact us on <a href="http://twitter.com/node_modules" target="blank">Twitter</a>. If you don't like it, you can <a href="http://github.com/mafintosh/node-modules">fork us</a>.</p>
			<%{ 'partials/menu.html' }%>
		</div>
	</div>
<%} %>
