<!doctype html>
<html>
	<head>
		<title>Better search for Node.js modules - node-modules.com</title>
		<link rel="stylesheet" type="text/css" href="<%- fingerprint('/public/base.css') %>">
		<%{ 'partials/google-analytics.html' }%>
	</head>
	<body>
		<div class="main">
			<div id="frontpage">
				<form action="/search">
					<div class="oneline" style="margin-top:10px">
						<input type="text" name="q" id="q" placeholder="Enter a search query" value="<%= locals.query || '' %>" autofocus>
						<input type="submit" value="Search">
					</div>
					<% if (!anon) { %>
						<input type="hidden" name="u" id="u" value="<%= username %>">
						<span class="text">Searches are personalized to <a href="http://github.com/<%= username %>"><%= username %></a>. <a href="/?u=">Reset account</a>.</span>
					<% } %>
				</form>
				<%{ 'partials/menu.html' }%>
			</div>
		</div>
	</body>
</html>