<%{ './partials/base.html' }%>
<%{ title %>Better search for Node.js modules<%}%>
<%{ content %>
	<div class="main">
		<%{ 'partials/top.html' }%>
		<div id="frontpage">
			<form action="/search">
				<div class="oneline" style="margin-top:10px">
					<input type="text" name="q" id="q" placeholder="Enter a search query" value="<%= locals.query || '' %>" autofocus>
					<input type="submit" value="Search">
				</div>
				<% if (anon) { %>
					<span class="text">
						<a href="/personalize?f=true&q=<%= encodeURIComponent(locals.query || '') %>">Personalize your account</a> for better results.
					</span>
				<% } else { %>
					<% if (userPage) { %>
						<span class="text">Searches are ranked by what <a href="http://github.com/<%= username %>"><%= username %></a> <span class="bold">stars</span> and <span class="bold">follows</span> on Github.
					<% } else { %>
						<span class="text">Searches are personalized to <a href="http://github.com/<%= username %>"><%= username %></a>. <a href="/?u=">Reset account</a>.
					<% } %>
				<% } %>
			</form>
			<%{ 'partials/menu.html' }%>
		</div>
	</div>
<%} %>
