html, body {
	margin: 0;
	padding: 0;
	background-color: #46483e;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #ccc;
}

a {
	text-decoration: none;
	color: #3a87ad;
}

a:hover {
	border-color: #aaa;
}

h1, h2 {
	margin: 0;
}

.bold {
	font-weight: bold;
}

.hidden {
	display: none;
}

.main {
	width: 780px;
	margin: auto;
}

.oneline {
	position: relative;
	height: 32px;
}

.oneline input[type="text"] {
	position: absolute;
	left: 0;
	right: 85px;
	width: 300px;
}

.oneline input[type="submit"] {
	position: absolute;
	right: 0;
	width: 75px;
}

#nav .oneline input[type="text"] {
	width: 353px;
}

input {
	margin: 0;
	border-radius: 0;
	border: none;
	outline: none;
	line-height: 18px;
	font-size: 14px;
	padding: 7px;
}

input[type="text"] {
	height: 18px;
}

input[type="submit"] {
	background-color: #3a87ad;
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
}

#frontpage, #about, #mission {
	width: 408px;
	margin: auto;
	margin-top: 20%;
	padding-top: 175px;
	background-image: url('logo/logo4b.png');
	background-repeat: no-repeat;
}

#frontpage .text {
	font-size: 12px;
	margin-bottom: 5px;
	margin-top: 12px;
	display: block;
}

.menu {
	margin: 20px 0;
	font-size: 12px;
}

.menu a {
	padding-right: 10px;
}

.menu .subtitle {
	float: right;
	margin-right: 96px;
}

#nav {
	background-color: #33342d;
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
}

#nav .main {
	padding: 14px 0;
}

#nav .main img {
	margin-top: -6px;
}

#nav a {
	float: left;
	border: none;
}

#nav form {
	margin-left: 320px;
}

#search a {
	color: inherit;
}

.offset {
	margin-top: 80px;
}

.warn {
	background-color: #e1f76e;
	color: #333;
}

.error {
	background-color: #FD2F17;
	color: white;
}

.warn a, .error a {
	font-weight: bold;
}

.block, .module {
	margin-bottom: 20px;
	padding: 20px;
}

#search .block.personalize {
	padding: 0;
}
#search .block.personalize a {
	color: #3a87ad;
	font-weight: bold;
}
#search .module {
	background-color: #f5f5f5;
}

#search .module a {
	border-bottom: 1px solid #ccc;
}

#search .module h2 {
	color: #333333;
	font-size: 25px;
	margin-bottom: 10px;
}

#search .module .following {
	border: none;
	border-radius: 3px;
	background-color: #3a87ad;
	color: white;
	font-weight: bold;
	font-size: 12px;
	padding: 2px 4px;
}

#search .module .stars {
	float: right;
	display: block;
	color: #666;
	font-size: 20px;
	font-weight: bold;
	padding: 4px 10px;
	padding-left: 18px;
	background-image: url('black-star.png');
	background-repeat: no-repeat;
	background-position: 0 50%;
}

#search .module .subline {
	color: #666;
}

#search .module .description {
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	color: #333;
	line-height: 20px;
	margin: 0;
	margin-top: 15px;
}